#scorecard {
  display: table;
  width: 50em;
}
#scorecard .issue {
  display: table-row;
}
#scorecard .issue > div {
  border-top: solid 1px black;
  padding-bottom: .5em;
  padding-top: .1em;
}
#scorecard .issue > .name {
  display: table-cell;
  padding-right: 1em;
  white-space: nowrap;
}
#scorecard .issue > .details {
  display: table-cell;
}

#scorecard .depth-1 > .name {
  padding-left: 1em;
}
#scorecard .depth-2 > .name {
  padding-left: 2em;
}
#scorecard .depth-3 > .name {
  padding-left: 3em;
}

#scorecard .note {
  border-left: solid grey 1px;
  padding-left: 10px;
  margin: 5px;
}
